# Virtual envs
.venv/
env/

# Dataset & models
*.csv
*.json
*.txt
*.pyd
*.pyc
*.dll
*.h5

# Tensorflow internals
**/_pywrap_tensorflow_internal.pyd

# Checkpoints
src/tuner_results/

# System files
.ipynb_checkpoints/
.DS_Store
Thumbs.db
